:root {
    --bg: #000000;
    --bg-2: #0a0a0a;
    --bg-3: #1b1b1b;
    --bg-4: #3f3f3f8c;
    --bg-5: #000000;
    --border: #ebe3d5c7;
    --border-2: #ebe3d570;
    --border-3: #e0e0e030;
    --border-4: #b4b4b41a;
    --text: #c9c0b8;
    --bright-text: #ffffff;
    --accent: #ffffff;
    --accent-2: #adadad;
}