body {
    margin: 0;
}

html {
    background: var(--bg);
    color: var(--text);
}

.grid {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
        linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
}

::selection {
    background: var(--accent);
    color: var(--bright-text);
}

a {
    color: var(--accent);
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: 0.2s;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
}

a.uanim::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
}

a.uanim:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 95vh;
    position: fixed;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    overflow: hidden;
    border-radius: 15px;
    background: var(--bg-2);
    transition: 0.3s;
    border: 1px solid var(--border-3);
    padding: 10px;
    font-weight: 400;
}

.bottom-nav {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
}

ul.collapsed {
    width: 40px;
}

ul.collapsed li a {
    width: 14px;
    margin-left: 0;
    padding-left: 9px;
}

li {
    text-wrap: nowrap;
    overflow: hidden;
}

li a {
    display: block;
    color: var(--text);
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 84%;
}

li a:hover {
    background: var(--bg-3);
    color: var(--bright-text);
}

li a.active {
    background: var(--bg-3);
    color: var(--bright-text);
}

.ri {
    font-size: 22px;
}

li a .ri {
    vertical-align: -2px;
    margin-right: 8px;
}

#cBtn {
    transition: 0.3s;
}

#cBtn.rotate {
    transform: rotate(180deg);
}

#pageframe {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 250px;
    width: calc(100% - 270px);
    height: 97.2vh;
    border-radius: 15px;
    border: 1px solid var(--border-3);
    background: var(--bg-2);
    transition: 0.3s;
}

input {
    background: var(--bg-3);
    border: 1px solid var(--border-4);
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: 0.2s;
    width: 400px;
    height: 30px;
    font-size: 17px;
}

input:focus {
    outline: none;
    border: 1px solid var(--accent);
    width: 420px;
}

input::placeholder {
    color: var(--text);
}

.custom-select {
    position: relative;
    font-family: geist;
    z-index: 999;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
    border-radius: 10px;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    z-index: 999;
}

.select-items {
    border-radius: 10px;
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.whatsnew {
    background: var(--bg-2);
    z-index: 999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    height: min-content;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    border: 1px solid var(--border-4);
    width: 300px;
    transition: 0.2s;
    transform-origin: center center !important;
}

.wtitle {
    margin-bottom: 10px;
    margin-top: 0;
}

.whatsnew li::before {
    content: "тиа ";
}

.whatsnew button {
    background: var(--bg-3);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--border-4);
    font-size: 17px;
    position: absolute;
    right: 5px;
    transition: 0.2s;
}

.whatsnew button:hover {
    background: var(--bg-4);
    cursor: pointer;
}

.bluroverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px) brightness(0.8);
}