@font-face {
    font-family: onest;
    src: url("/assets/fonts/onest.ttf");
}

@font-face {
    font-family: Geist;
    src: url("/assets/fonts/inter.ttf");
}

@font-face {
    font-family: geist;
    src: url("/assets/fonts/geist.ttf");
}

* {
    font-family: geist, sans-serif;
}